.dinner__buffet-heading {
    margin-bottom: 0;
}

.dinner__buffet-p{
    margin-top: 0;
}

.dinner__buffet-sour {
    background-image: url(../../../../assets/dinner/sour.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dinner__buffet-mac {
    background-image: url(../../../../assets/lunch/lunch-banner-three.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dinner__buffet-mex {
    background-image: url(../../../../assets/dinner/mex.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dinner__buffet-shrimp {
    background-image: url(../../../../assets/dinner/shrimp.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dinner__buffet-tender {
    background-image: url(../../../../assets/dinner/tender.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dinner__buffet-honey {
    background-image: url(../../../../assets/dinner/honey.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dinner__buffet-cordon {
    background-image: url(../../../../assets/dinner/cordon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}