.lunch__call-img{
    background-image: url(../../../../assets/lunch/dinner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

@media only screen and (max-width: 1350px) {
    .lunch__call-img {
        height: 400px;
    }
}