.lunch__dessert-cookie{
    background-image: url(../../../../assets/lunch/cookie.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lunch__dessert-tumb{
    background-image: url(../../../../assets/lunch/tumb.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lunch__dessert-reeses {
    background-image: url(../../../../assets/lunch/reese.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lunch__dessert-mint {
    background-image: url(../../../../assets/lunch/mint.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lunch__dessert-rocky {
    background-image: url(../../../../assets/lunch/rocky.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}