.lunch__salad-croissant {
    background-image: url(../../../../assets/home/lunch.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lunch__salad-bread {
    background-image: url(../../../../assets/home/home-banner-one.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}