.lunch__platter-deli {
    background-image: url(../../../../assets/lunch/deli.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lunch__platter-cheese {
    background-image: url(../../../../assets/lunch/cheese.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lunch__platter-fruit {
    background-image: url(../../../../assets/lunch/fruit.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lunch__platter-veggie {
    background-image: url(../../../../assets/lunch/veggie.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}